.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .header {
    background: linear-gradient(#21707d, #1a555e);

    mat-icon {
      color: #fff;
    }

    a {
      display: flex;
      margin: 0;

      img {
        width: 5.5rem;
        margin-left: 0.5rem;
      }
    }

    &.is-mobile {
      position: fixed;
      z-index: 2;
    }
  }

  .sidenav-container {
    background-color: #e6edef;
    flex: 1;

    &.is-mobile {
      flex: 1 0 auto;
    }

    mat-sidenav {
      mat-nav-list {
        padding: 0;
        width: 100%;

        a {
          display: flex;
          color: #1a555e;
          font-family: 'Poppins', sans-serif;
          text-transform: uppercase;
          text-decoration: none;
          font-weight: bold;
          padding: 1rem;

          &:hover {
            background-color: #b5dce53e;
          }

          &.active {
            color: #fff;
            background-color: #85adb18c;
          }
        }
      }
    }

    mat-sidenav-content {
      padding: 2rem;
    }
  }
}
