<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="header example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav [(opened)]="opened" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="" routerLinkActive="active">Home</a>
        <a mat-list-item routerLink="jobs" routerLinkActive="active">Fake Jobs</a>
        <a mat-list-item routerLink="developers" routerLinkActive="active">Fake Devs</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar class="footer">
    <span>credits</span>
  </mat-toolbar>
</div>
